



<div class="commets-label">
  <h3 align="left">Comments: </h3>

  <div class="well ">
    <ul class="listing">
      <% @acomments.each do |acomment| %>
          <li class="eachcomment"><strong><%= link_to acomment.user.username, user_path(acomment.user) %></strong>
            <span>: <%= acomment.content %></span></li>

      <% end %>


    </ul>


  </div>
</div>

<% if logged_in? %>
<%= render 'acomments/form' %>
<% end %>
